{extend name="public/base"}
{block name="seo"}
<title>{$title|default="标题"}</title>
{/block}

{block name="content"}
<!-- banner开始-->
<div class="new_banner"></div>
<!--BANNER END-->

<!--新闻动态 Begin-->
<div class="news">
    <div class="news_01">
        <div class="amenu" style="margin-bottom:40px; text-align: left;margin-left: 77px;">
            <A href="news.html?cid=11" class="amenu2" >公司动态</A>
        </div>
        <div class="new09 " style="width:100%;background:#fff;">
            <ul>
                <li data-index="1">
                    <div style="width:1110px;margin:0 auto;overflow:hidden;" >

                        <div class="xinwen-new ">
                            <div class="date pt-page-moveFromLeftFade">2016-06-10</div>
                            <div class="tity pt-page-moveFromRightFade">
                                <dl>
                                    <dt></dt>
                                    <dd>
                                        <a href="newsshow.php?cid=11&id=153" target="_blank">
                                        <p style="font-size:16px;">1/4砖9-36V输入100W  DC/DC变换器研制成功</p>
                                    </a>
                                        <p  class="title-89">公司发布了9～36V输入，100W标准外形1/4砖产品。该产品填补了公司产品空白，为系列完善打下了基础。该产品可以广泛应用于车辆等地面设备中，可以兼容12V和24V两个等级输入的1/4砖产品。 </p>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="xinwen-new ">
                            <div class="date pt-page-moveFromLeftFade">2016-05-06</div>
                            <div class="tity pt-page-moveFromRightFade">
                                <dl>
                                    <dt></dt>
                                    <dd><a href="newsshow.php?cid=11&id=152" target="_blank">
                                        <p style="font-size:16px;">公司承担中国电子科技集团公司第五十四所下属企业开关电源测试培训任务</p>
                                    </a>
                                        <p  class="title-89">公司与大唐移动通信设备有限公司合作，开展开关电源测试培训服务。本次培训将对开关电源技术指标、测试方法、简单工装制作、开关电源基本原理进行培训。为接受培训的公司事业腾飞助力。 </p>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="xinwen-new ">
                            <div class="date pt-page-moveFromLeftFade">2016-04-05</div>
                            <div class="tity pt-page-moveFromRightFade">
                                <dl>
                                    <dt></dt>
                                    <dd><a href="newsshow.php?cid=11&id=151" target="_blank">
                                        <p style="font-size:16px;">50.8×40.6外形15W三路全稳压DC/DC变换器研制成功</p>
                                    </a>
                                        <p  class="title-89">经过设计和调试，50.8×40.6外形三路全稳压产品研制成功：首期两个型号输出分别为5V、5V、5V和5V、5V、15V。这两个型号的研制成功，代表我们在该外形范围内可以根据客户要求快速提供24V输出以内任意三路全稳压产品。 </p>
                                    </dd>
                                </dl>
                            </div>
                        </div>

                    </div>
                </li>

                <div style="clear:both;"></div>
            </ul>
        </div>
        <div class="amenu" style="margin-bottom:40px; text-align: left;margin-left: 77px;">
            <A href="news2.html" class="amenu2" >行业资讯</A>
        </div>

        <div class="new09 " style="width:100%;background:#fff;">
            <ul>
                <li data-index="1">
                    <div style="width:1110px;margin:0 auto;overflow:hidden;" >
                        <div class="xinwen-new ">
                            <div class="date pt-page-moveFromLeftFade">2016-07-01</div>
                            <div class="tity pt-page-moveFromRightFade">
                                <dl>
                                    <dt></dt>
                                    <dd><a href="newsshow.php?cid=12&id=155" target="_blank">
                                        <p style="font-size:16px;">提升电源功率密度 </p>
                                    </a>
                                        <p  class="title-89">高端服务器设计中日益提高的处理密度对未来电源系统产生持续影响。ICT数据服务器中每块板的功率要求已经从20世纪80年代早期的300W增加到今天的1kW以上，并且业界预测到2020年每块板将要求达到35kW的功率。目前的DC/DC电源转换器解决方案和技术还不足以达到这些功率等级。</p>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="xinwen-new ">
                            <div class="date pt-page-moveFromLeftFade">2016-06-02</div>
                            <div class="tity pt-page-moveFromRightFade">
                                <dl>
                                    <dt></dt>
                                    <dd><a href="newsshow.php?cid=12&id=154" target="_blank">
                                        <p style="font-size:16px;">汽车电源朝48 V系统进发 </p>
                                    </a>
                                        <p  class="title-89">应对不断提升的节能减排的需求/规范，轻型48 V系统销量近十年来一直在增长。</p>
                                    </dd>
                                </dl>
                            </div>
                        </div>

                    </div>
                </li>

                <div style="clear:both;"></div>
            </ul>
        </div>




    </div>
</div>
<!--Entrance End-->

<!--公司介绍 BEGIN-->

<!--NEWS END-->
<!--企业文化开始-->

<!--end-->
<!--我们都是团队的一份子期待未来-->

<!--end-->
<!--FOOTER BEGIN-->
{/block}
<script type="text/javascript">

    $(function(){

        $('#click_event').click(function(){

            if($('#hidden_enent').is(':hidden')){

                $('#hidden_enent').show();

                $('#click_event').val('点击隐藏');

            }  else{

                $('#hidden_enent').hide();

                $('#click_event').val('点击显示');

            }

        })

    })

</script>
</body>
</html>
