{extend name="public/base"}
{block name="seo"}
<title>{$title|default="标题"}</title>
{/block}
<body>
{block name="content"}
<!-- banner开始-->
<div class="cpzx_banner">
  <div class="wrapper">
    <SCRIPT src="__STATIC__/js/jquery.dbRotate2D.js" type=text/javascript></SCRIPT>
    <div class="xiangmulist">
      <div class="artist_l">
        <li id="btn" style="margin-left:188px;">
          <A href="product.html#alj" >
            <img src="__STATIC__/picture/p1.png" alt="__STATIC__/picture/p1.png" width="119" height="119" />
          </A>
        </li>
        <li id="btn">
          <A href="product2.html#alj" >
            <img src="__STATIC__/picture/p2.png"  alt="__STATIC__/picture/p2.png" width="119" height="119" />
          </A>
        </li>
        <li id="btn">
          <A href="product3.html#alj" >
            <img src="__STATIC__/picture/p3.png"  alt="__STATIC__/picture/p3.png" width="119" height="119" />
          </A>
        </li>
        <li id="btn">
          <A href="product4.html#alj">
            <img src="__STATIC__/picture/p4.png" alt="__STATIC__/picture/p4.png" width="119" height="119" />
          </A>
        </li>
        <li id="btn">
          <A href="product5.html#alj" >
            <img src="__STATIC__/picture/p5.png"  alt="__STATIC__/picture/p5.png" width="119" height="119" />
          </A></li>
      </div>
    </div>
    <script type="text/javascript">

        $('[id=btn]').dbRotate2D();

    </script>
  </div>
</div>
<!--BANNER END-->

<!--内容区域 Begin-->
<div class="application_con">
  <div class="app_con">
    <div class="app_cont">
      <div class="app_con_r" style="width:100%;">
      <div class="alj" id="alj"></div>
        <div class="app_con_rt">
          <a href="index.html" >首页</a>：
          <a href="product.html" >产品中心</a> >
          <a href="product.html" >AC/DC电源</a> >
        </div>
        <div class="zuopin_menu">        
        <A href="product.html"  class="zuopin_menu1">DC/DC变换器</A>
          <A href="product2.html"  class="zuopin_menu2">AC/DC电源</A>
          <A href="product3.html"  class="zuopin_menu1">EMI滤波器</A>
          <A href="product4.html"  class="zuopin_menu1">浪涌抑制器</A>
          <A href="product5.html"  class="zuopin_menu1">其他产品</A>
          <A href="product6.html"  class="zuopin_menu1">新品发布</A>        </div>
        <div class="cpzx_con">
          <div class="cpzx_con_img">
            <img src="__STATIC__/picture/pt2.jpg"  width="225" height="170" alt=""/></div>
          <div class="cpzx_tit">
            <h2>AC/DC电源</h2>
            <p>全球通用的输入电压范围、工业标准封装和引脚定义、低纹波噪声，高功率密度、1Watts-100Watts、可以定制、可定制不同控制和保护功能、质量等级可选，适应不同场合要求、可选输出引线和导轨安装、良好的EMC特性、单路，双路，三路输出、符合RoHS指令、符合EN60950标准</p>
          </div>
          <div style="clear:both;height:0;width:0;"></div>
        </div>
        <div class="kc_kcb1">
          <table cellspacing="0" cellpadding="0" id="mytable">
            <tr>
              <th width="100">系列名称</th>
              <th width="80">产品图片</th>
              <th><p>功率<br />
                  （W）</p></th>
              <th width="170"><p>输入电压<br />
                  （Vac）</p></th>
              <th width="170"><p>输出电压<br />
                  （Vdc）</p></th>
              <th><p>封装尺寸<br />
                  （mm）</p></th>
              <th>其他特点</th>
              <th width="80">典型行业</th>
            </tr>
                        <tr>
              <td>ZAE</td>
              <td align="center">
                <img src="__STATIC__/picture/1467364797.jpg" height="48" /></td>
              <td>6、9</td>
              <td>85～264、85～305</td>
              <td><p>3.3、5、9、12、15、24</p></td>
              <td>37.0×18.0×26.5</td>
              <td><p>SIP，小外形，低损耗，高隔离耐压</p></td>
              <td>通信、电力、仪表</td>
            </tr>
                        <tr>
              <td>ZAF</td>
              <td align="center"><img src="__STATIC__/picture/1467361101.jpg"  height="48" /></td>
              <td>3</td>
              <td>85～264、85～305</td>
              <td><p>3.3、5、9、12、15、24</p></td>
              <td>37.0×23.0×15.0</td>
              <td><p>DIP，小外形，低损耗，高隔离耐压，多种安装方式可选</p></td>
              <td>通信、电力、仪表</td>
            </tr>
                        <tr>
              <td>ZAD</td>
              <td align="center"><img src="__STATIC__/picture/1467368336.jpg" height="48" /></td>
              <td>3、5</td>
              <td>85～264、85～305</td>
              <td><p>3.3、5、9、12、15、24</p></td>
              <td>35.0×16.9×11.0</td>
              <td><p>SIP，小外形，开放式，经济型</p></td>
              <td>通信、电力、仪表</td>
            </tr>
                        <tr>
              <td>ZAC</td>
              <td align="center"><img src="__STATIC__/picture/1467362920.jpg"  height="48" /></td>
              <td>2</td>
              <td>85～264、85～305</td>
              <td><p>3.3、5、9、12、15、24</p></td>
              <td>33.7×22.2×17.8</td>
              <td><p>DIP，小外形，低损耗，高隔离耐压，多种安装方式可选</p></td>
              <td>通信、电力、仪表</td>
            </tr>
                        <tr>
              <td>ZAH</td>
              <td align="center"><img src="__STATIC__/picture/1467361750.jpg"  height="48" /></td>
              <td>5</td>
              <td>85～264、85～305</td>
              <td><p>3.3、5、9、12、15、24</p></td>
              <td>48.5×36.0×20.5</td>
              <td><p>DIP，小外形，低损耗，高隔离耐压，多种安装方式可选</p></td>
              <td>通信、安防、电力、仪表</td>
            </tr>
                        <tr>
              <td>ZAJ</td>
              <td align="center"><img src="__STATIC__/picture/1467369022.jpg"  height="48" /></td>
              <td>5</td>
              <td>85～264、85～305</td>
              <td><p>3.3、5、9、12、15、24</p></td>
              <td>50.8×25.4×15.2</td>
              <td><p>DIP，小外形，低损耗，高隔离耐压，多种安装方式可选</p></td>
              <td>通信、安防、电力、仪表</td>
            </tr>
                        <tr>
              <td>ZAK</td>
              <td align="center"><img src="__STATIC__/picture/1467366208.jpg"  height="48" /></td>
              <td>10</td>
              <td>85～264、85～305</td>
              <td><p>3.3、5、9、12、15、24</p></td>
              <td>52.4×27.2×23.5</td>
              <td><p>DIP，小外形，低损耗，高隔离耐压，多种安装方式可选</p></td>
              <td>通信、安防、电力、仪表</td>
            </tr>
                        <tr>
              <td>ZAM</td>
              <td align="center"><img src="__STATIC__/picture/1467367810.jpg" height="48" /></td>
              <td>10</td>
              <td>85～264、85～305</td>
              <td><p>5、12、15、24、±5、±12、±15、±24、5/5、5/12、5/24、三路输出</p></td>
              <td>55.0×45.0×21.0</td>
              <td><p>DIP，低损耗，高隔离耐压，多种安装方式可选</p></td>
              <td>通信、安防、电力</td>
            </tr>
                        <tr>
              <td>ZAP</td>
              <td align="center"><img src="__STATIC__/picture/1467453648.jpg" height="48" /></td>
              <td>10、20、30</td>
              <td>85～264、85～305</td>
              <td><p>3.3、5、9、12、15、24</p></td>
              <td>62.0×45.5×22.5</td>
              <td><p>DIP，低损耗，高隔离耐压，多种安装方式可选</p></td>
              <td>通信、安防、电力</td>
            </tr>
                        <tr>
              <td>ZAT</td>
              <td align="center"><img src="__STATIC__/picture/1467612447.jpg" height="48" /></td>
              <td>30</td>
              <td>85～265/85～305</td>
              <td><p>3.3、5、9、12、15、24、48</p></td>
              <td>76.2×76.2×23</td>
              <td><p>DIP，低损耗，高隔离耐压，多种安装方式可选</p></td>
              <td>通信、安防、电力</td>
            </tr>
                        <tr>
              <td>LJH</td>
              <td align="center"><img src="__STATIC__/picture/1467371199.jpg"  height="48" /></td>
              <td>6、9</td>
              <td>85～264、85～305</td>
              <td><p>350mA恒流输出</p></td>
              <td>65.2×60.7×30.0</td>
              <td><p>圆形，开放式， LED驱动电源</p></td>
              <td>照明</td>
            </tr>
                        <tr>
              <td>ZJQ</td>
              <td align="center"><img src="__STATIC__/picture/1467457454.jpg" height="48" /></td>
              <td>15</td>
              <td>85～265/85～305</td>
              <td><p>3.3、5、9、12、15、24、48</p></td>
              <td>62.5.0×51.6×28.5</td>
              <td><p>通用外形，开放/网罩结构形式可选，良好的EMC特性</p></td>
              <td>通信、电力</td>
            </tr>
                        <tr>
              <td>ZJS</td>
              <td align="center"><img src="__STATIC__/picture/1467460210.jpg"  height="48" /></td>
              <td>20</td>
              <td>85～264、85～305</td>
              <td><p>3.3、5、9、12、15、24</p></td>
              <td>78.5×51.5×28.5</td>
              <td><p>通用外形，开放/网罩结构形式可选，良好的EMC特性</p></td>
              <td>通信、电力</td>
            </tr>
                        <tr>
              <td>ZAR</td>
              <td align="center"><img src="__STATIC__/picture/1467371702.jpg"  height="48" /></td>
              <td>20、30、50</td>
              <td>85～264、85～305</td>
              <td><p>3.3、5、9、12、15、24</p></td>
              <td>70.0×48.0×23.5</td>
              <td><p>DIP，低损耗，高隔离耐压，多种安装方式可选</p></td>
              <td>通信、安防、电力</td>
            </tr>
                        <tr>
              <td>ZAU</td>
              <td align="center"><img src="__STATIC__/picture/1467371399.jpg"  height="48" /></td>
              <td>60</td>
              <td>85～264、85～305</td>
              <td><p>3.3、5、9、12、15、24</p></td>
              <td>109.0×58.5×30.0</td>
              <td><p>DIP，低损耗，高隔离耐压，多种安装方式可选</p></td>
              <td>通信、安防、电力</td>
            </tr>
                        <tr>
              <td>ZJB</td>
              <td align="center"><img src="__STATIC__/picture/1467367646.jpg"  height="48" /></td>
              <td>10、20</td>
              <td>85～264、85～305</td>
              <td><p>5、9、12、15、24、48</p></td>
              <td>90.0×23.0×99.0</td>
              <td><p>适合DIN35导轨安装</p></td>
              <td>安防、电力、矿山</td>
            </tr>
                        <tr>
              <td>ZJT</td>
              <td align="center"><img src="__STATIC__/picture/1467372458.jpg" height="48" /></td>
              <td>30</td>
              <td>85～264、85～305</td>
              <td><p>3.3、5、9、12、15、24</p></td>
              <td>111.0×78.0×36.0</td>
              <td><p>通用外形，开放/网罩结构形式可选，良好的EMC特性</p></td>
              <td>通信、电力</td>
            </tr>
                        <tr>
              <td>ZJV</td>
              <td align="center"><img src="__STATIC__/picture/1467371524.jpg"  height="48" /></td>
              <td>60</td>
              <td>85～264、85～305</td>
              <td><p>3.3、5、9、12、15、24</p></td>
              <td>127.0×76.0×38.0</td>
              <td><p>开放式结构，良好的EMC特性</p></td>
              <td>通信、电力</td>
            </tr>
                      </table>
        </div>
        
      </div>
      <div style="clear:both;"></div>
    </div>
  </div>
</div>
<!--Entrance End--> 
{/block}
<!--end--> 

</body>
</html>
