{extend name="public/base"}
{block name="seo"}
<title>{$title|default="标题"}</title>
{/block}
</head>
<body>

{block name="content"}
<!-- banner开始-->
<div class="cpzx_banner">
  <div class="wrapper">
    <SCRIPT src="__STATIC__/js/jquery.dbRotate2D.js" type=text/javascript></SCRIPT>
    <div class="xiangmulist">
      <div class="artist_l">
        <li id="btn" style="margin-left:188px;">
          <A href="product.html#alj" >
            <img src="__STATIC__/picture/p1.png" alt="__STATIC__/picture/p1.png" width="119" height="119" />
          </A>
        </li>
        <li id="btn">
          <A href="product2.html#alj" >
            <img src="__STATIC__/picture/p2.png"  alt="__STATIC__/picture/p2.png" width="119" height="119" />
          </A>
        </li>
        <li id="btn">
          <A href="product3.html#alj" >
            <img src="__STATIC__/picture/p3.png"  alt="__STATIC__/picture/p3.png" width="119" height="119" />
          </A>
        </li>
        <li id="btn">
          <A href="product4.html#alj">
            <img src="__STATIC__/picture/p4.png" alt="__STATIC__/picture/p4.png" width="119" height="119" />
          </A>
        </li>
        <li id="btn">
          <A href="product5.html#alj" >
            <img src="__STATIC__/picture/p5.png"  alt="__STATIC__/picture/p5.png" width="119" height="119" />
          </A></li>
      </div>
    </div>
    <script type="text/javascript">

        $('[id=btn]').dbRotate2D();

    </script>
  </div>
</div>
<!--BANNER END-->

<!--内容区域 Begin-->
<div class="application_con">
  <div class="app_con">
    <div class="app_cont">
      <div class="app_con_r" style="width:100%;">
      <div class="alj" id="alj"></div>
        <div class="app_con_rt"><a href="index.html">首页</a>：
          <a href="product.html">产品中心</a> >
          <a href="product.html">DC/DC变换器</a> >
        </div>
        <div class="zuopin_menu">
          <A href="product.html" class="zuopin_menu2">DC/DC变换器</A>
          <A href="product2.html" class="zuopin_menu1">AC/DC电源</A>
          <A href="product3.html" class="zuopin_menu1">EMI滤波器</A>
          <A href="product4.html" class="zuopin_menu1">浪涌抑制器</A>
          <A href="product5.html" class="zuopin_menu1">其他产品</A>
          <A href="product6.html" class="zuopin_menu1">新品发布</A>
        </div>
        <div class="cpzx_con">
          <div class="cpzx_con_img">
            <img src="__STATIC__/picture/pt1.jpg"  width="225" height="170" alt=""/>
          </div>
          <div class="cpzx_tit">
            <h2>DC/DC变换器</h2>
            <p>工业标准封装和引脚定义、输入电压范围宽于行业标准、输出过流保护、0.1Watts-700Watts、可以定制、根据您的需要可提供输入欠/过压保护、遥控、通信接口等、质量等级可选，适应不同场合要求、良好的EMC特性、低功耗、高效率、符合RoHS指令、符合EN60950标准</p>
          </div>
          <div style="clear:both;height:0;width:0;"></div>
        </div>
        <div class="kc_kcb1">
          <table cellspacing="0" cellpadding="0" id="mytable">
            <tr>
              <th width="100">系列名称</th>
              <th width="80">产品图片</th>
              <th width="80"><p>功率<br />
                  （W）</p></th>
              <th width="170"><p>输入电压<br />
                  （Vdc）</p></th>
              <th width="170"><p>输出电压<br />
                  （Vdc）</p></th>
              <th><p>封装尺寸<br />
                  （mm）</p></th>
              <th width="230">其他特点</th>
              <th width="80">典型行业</th>
            </tr>
                        <tr>
              <td>YCB</td>
              <td align="center"><img src="__STATIC__/picture/1467457207.jpg" height="48" /></td>
              <td>2</td>
              <td>5、9、12、15、24</td>
              <td><p>5、9、12、15、24 、±5、±12、±15、±24</p></td>
              <td>19.6×7.0×10.0</td>
              <td><p>SIP，定电压输入，非稳压，高隔离耐压，低纹波噪声</p></td>
              <td>仪表、安防</td>
            </tr>
                        <tr>
              <td>QCD</td>
              <td align="center"><img src="__STATIC__/picture/1467356423.jpg" height="48" /></td>
              <td>2</td>
              <td>5、12、15、24</td>
              <td><p>5、9、12、15、24、±5、±12、±15、±24</p></td>
              <td>20.0×10.0×8.2</td>
              <td><p>DIP，定电压输入，非稳压，高隔离耐压，低纹波噪声</p></td>
              <td>安防</td>
            </tr>
                        <tr>
              <td>ZDD</td>
              <td align="center"><img src="__STATIC__/picture/1467358453.jpg"  height="48" /></td>
              <td>1</td>
              <td>5、12、24</td>
              <td><p>5、9、12、15、24、±5、±9、±12、±15、±24</p></td>
              <td>27.5×9.5×12.0</td>
              <td><p>SIP，定电压输入，非稳压，高隔离耐压，低纹波噪声</p></td>
              <td>工业自动化</td>
            </tr>
                        <tr>
              <td>ZDB</td>
              <td align="center"><img src="__STATIC__/picture/1467363277.jpg"  height="48" /></td>
              <td>3</td>
              <td>5、12、24</td>
              <td><p>3.3、5、9、12、15、24、±5、±9、±12、±15</p></td>
              <td>21.8×9.2×11.1</td>
              <td><p>SIP，2:1输入范围，高隔离耐压</p></td>
              <td>工业自动化</td>
            </tr>
                        <tr>
              <td>CDR、RDR</td>
              <td align="center"><img src="__STATIC__/picture/1467363572.jpg" height="48" /></td>
              <td>5-20</td>
              <td>5、12、24、48、110</td>
              <td><p>3.3、5、12、15、24、±5、±12、±15、±24</p></td>
              <td>25.4×25.4×11.7</td>
              <td><p>DIP，散热片/安装方式可选，2:1或4:1输入范围</p></td>
              <td>通信、电力、铁路、仪表</td>
            </tr>
                        <tr>
              <td>CDG、RDG</td>
              <td align="center"><img src="__STATIC__/picture/1467361472.jpg"  height="48" /></td>
              <td>5</td>
              <td>12、24、48</td>
              <td><p>5、12、15、24、±5、±12、±15、±24</p></td>
              <td>31.8×20.3×10.2</td>
              <td><p>DIP，2:1或4:1输入范围</p></td>
              <td>通信、电力、铁路、仪表</td>
            </tr>
                        <tr>
              <td>CDK、RDK</td>
              <td align="center"><img src="__STATIC__/picture/1467364157.jpg" height="48" /></td>
              <td>10-50</td>
              <td>12、24、48、110</td>
              <td><p>3.3、5、12、15、24、±5、±12、+15、±24</p></td>
              <td>50.8×25.4×11.7</td>
              <td><p>DIP，散热片/安装方式可选，2:1或4:1输入范围</p></td>
              <td>通信、电力、铁路、仪表</td>
            </tr>
                        <tr>
              <td>CDL、RDL</td>
              <td align="center"><img src="__STATIC__/picture/1467359030.jpg" height="48" /></td>
              <td>20</td>
              <td>12、24、48、110</td>
              <td><p>5、12、15、24、±5、±12、±15、±24</p></td>
              <td>50.8×40.6×10.2</td>
              <td><p>DIP，散热片/安装方式可选，2:1或4:1输入范围</p></td>
              <td>通信、电力、铁路、仪表</td>
            </tr>
                        <tr>
              <td>CDM、RDM</td>
              <td align="center"><img src="__STATIC__/picture/1467360144.jpg"  height="48" /></td>
              <td>20-50</td>
              <td>2、24、48、110</td>
              <td><p>5、12、15、24、48、±5、±12、±15、±24</p></td>
              <td>50.8×50.8×12.7</td>
              <td><p>DIP，散热片/安装方式可选，2:1或4:1输入</p></td>
              <td>通信、电力、铁路、仪表</td>
            </tr>
                        <tr>
              <td>CDS、RDS</td>
              <td align="center"><img src="__STATIC__/picture/1467356871.jpg" height="48" /></td>
              <td>65</td>
              <td>12、24、48、110</td>
              <td><p>1.8、3.3、5、12、24、28</p></td>
              <td>1/16砖:<br/>33.0×22.9×9.8</td>
              <td><p>开放式结构，2:1或4:1输入范围，高效率</p></td>
              <td>通信、铁路</td>
            </tr>
                        <tr>
              <td>CDE、RDE</td>
              <td align="center"><img src="__STATIC__/picture/1467364879.jpg"  height="48" /></td>
              <td>100</td>
              <td>12、24、48、110</td>
              <td><p>1.8、3.3、5、12、24、28</p></td>
              <td>1/8砖:<br/>57.9×22.7×11.0</td>
              <td><p>开放式结构，2:1或4:1输入范围，高效率，散热片可选</p></td>
              <td>通信、铁路</td>
            </tr>
                        <tr>
              <td>CDQ、RDQ</td>
              <td align="center"><img src="__STATIC__/picture/1467357471.jpg" height="48" /></td>
              <td>150</td>
              <td>12、24、48、110</td>
              <td><p>1.8、3.3、5、12、24、28</p></td>
              <td>1/4砖:<br/>57.9×36.8×11.0</td>
              <td><p>开放式结构，2:1或4:1输入范围，高效率，散热片可选</p></td>
              <td>通信、铁路</td>
            </tr>
                        <tr>
              <td>CDH、RDH</td>
              <td align="center"><img src="__STATIC__/picture/1467358629.jpg" height="48" /></td>
              <td>100-450</td>
              <td>12、24、48、110</td>
              <td><p>3.3、5、12、13.8、24、28、±5、±12</p></td>
              <td>1/2砖:<br/>61.0×57.9×12.7</td>
              <td><p>开放式或塑料外壳结构，2:1输入范围，高效率</p></td>
              <td>通信、铁路</td>
            </tr>
                        <tr>
              <td>CDF</td>
              <td align="center"><img src="__STATIC__/picture/1467358792.jpg" height="48" /></td>
              <td>300-700</td>
              <td>12、24、48、110</td>
              <td><p>12、13.8、24、28</p></td>
              <td>全砖:<br/>116.8×61.0×12.7</td>
              <td><p>开放式或塑料外壳结构，2:1输入范围，高效率</p></td>
              <td>通信、铁路</td>
            </tr>
                        <tr>
              <td>EDF</td>
              <td align="center"><img src="__STATIC__/picture/1467771650.jpg" height="48" /></td>
              <td>600</td>
              <td>280</td>
              <td><p>5、12、24、28</p></td>
              <td>119.1×63.0×12.7</td>
              <td><p>开放式或塑料外壳结构，高效率，高可靠性</p></td>
              <td>通信、铁路</td>
            </tr>
                        <tr>
              <td>RCQ</td>
              <td align="center"><img src="RCS.jpg" height="48" /></td>
              <td>150</td>
              <td>12、24、48、110</td>
              <td><p>3.3、5、12、24、28</p></td>
              <td>1/4砖:<br/>60.6×39.0×12.7</td>
              <td><p>塑料外壳，2:1或4:1输入，高效率，高可靠性</p></td>
              <td>电力、铁路</td>
            </tr>
                        <tr>
              <td>RCH</td>
              <td align="center"><img src="23.png"  height="48" /></td>
              <td>150</td>
              <td>12、24、48、110</td>
              <td><p>3.3、5、12、13.8、24、28、±5、±12</p></td>
              <td>1/2砖:<br/>63.0×60.6×12.7</td>
              <td><p>塑料外壳，2:1或4:1输入，高效率，高可靠性</p></td>
              <td>电力、铁路</td>
            </tr>
                        <tr>
              <td>RCF</td>
              <td align="center"><img src="__STATIC__/picture/1467357243.jpg" height="48" /></td>
              <td>600</td>
              <td>12、24、48、110</td>
              <td><p>12、13.8、24、28</p></td>
              <td>全砖:<br/>119.1×63.0×12.7</td>
              <td><p>塑料外壳，2:1或4:1输入，高效率，高可靠性</p></td>
              <td>电力、铁路</td>
            </tr>
                        <tr>
              <td>YCD</td>
              <td align="center"><img src="__STATIC__/picture/1467357944.jpg" height="48" /></td>
              <td>0.1、0.2</td>
              <td>5、12、15、24</td>
              <td><p>100～600可调</p></td>
              <td>20.0×10.0×8.2</td>
              <td><p>DIP，定电压输入，可外加输出电压调整信号</p></td>
              <td>仪表</td>
            </tr>
                        <tr>
              <td>YDG</td>
              <td align="center"><img src="26.png" height="48" /></td>
              <td>2.5</td>
              <td>5、12、15、24</td>
              <td><p>100～600V输出电压随输入电压线性变换</p></td>
              <td>31.8×20.3×10.2</td>
              <td><p>DIP，定电压输入，可外加输出电压调整信号</p></td>
              <td>仪表</td>
            </tr>
                        <tr>
              <td>YDK</td>
              <td align="center"><img src="__STATIC__/picture/1467365577.jpg" height="48" /></td>
              <td>0.3</td>
              <td>5、12、15、24</td>
              <td><p>100～1000V固定输出，输出电压可选</p></td>
              <td>50.8×25.4×12.7</td>
              <td><p>DIP，定电压输入，可外加输出电压调整信号</p></td>
              <td>仪表</td>
            </tr>
                        <tr>
              <td>YDF</td>
              <td align="center"><img src="__STATIC__/picture/1467366981.jpg"  height="48" /></td>
              <td>40</td>
              <td>12、24</td>
              <td><p>100～600V输出，输出电压可调</p></td>
              <td>全砖:116.8×61.0×12.7</td>
              <td><p>定电压输入，可在输入端或输出端外加输出电压调整信号</p></td>
              <td>仪表</td>
            </tr>
                        <tr>
              <td>CBC</td>
              <td align="center"><img src="__STATIC__/picture/1467364948.jpg"  height="48" /></td>
              <td>10、16</td>
              <td>2.4～5.5</td>
              <td><p>0.6～3.3可调节</p></td>
              <td>33.02×13.46×8.50</td>
              <td><p>SMD，DOSA标准；非隔离</p></td>
              <td>通信</td>
            </tr>
                        <tr>
              <td>CBE</td>
              <td align="center"><img src="__STATIC__/picture/1467362016.jpg" height="48" /></td>
              <td>10、16</td>
              <td>9.6～14.4、3.0～5.5</td>
              <td><p>0.9～5.0可调节、0.9～3.6可调节</p></td>
              <td>50.8×8.48×12.7</td>
              <td><p>SIP，DOSA标准；非隔离</p></td>
              <td>通信</td>
            </tr>
                        <tr>
              <td>CBK</td>
              <td align="center"><img src="__STATIC__/picture/1467367087.jpg" height="48" /></td>
              <td>10</td>
              <td>3.0～5.5、4.5～14</td>
              <td><p>0.75～3.63、0.59～5.0</p></td>
              <td>10.4×10.16×16.5</td>
              <td><p>SIP，小封装，高效率；非隔离</p></td>
              <td>通信</td>
            </tr>
                        <tr>
              <td>CBP</td>
              <td align="center"><img src="__STATIC__/picture/1467360879.jpg"  height="48" /></td>
              <td>6、10</td>
              <td>2.4～5.5、4.5～14</td>
              <td><p>0.75～3.63、0.59～5.0</p></td>
              <td>22.9×6.6×10.2</td>
              <td><p>SIP，小封装，高效率；非隔离</p></td>
              <td>通信</td>
            </tr>
                        <tr>
              <td>CBR</td>
              <td align="center"><img src="__STATIC__/picture/1467362044.jpg" height="48" /></td>
              <td>20</td>
              <td>4.5～14</td>
              <td><p>0.6～5.0</p></td>
              <td>30.5×10.7×29</td>
              <td><p>SIP，小封装，高效率；非隔离</p></td>
              <td>通信</td>
            </tr>
                        <tr>
              <td>CBN</td>
              <td align="center"><img src="__STATIC__/picture/1467365495.jpg"  height="48" /></td>
              <td>3</td>
              <td>3.0～5.0、9.6～14.0</td>
              <td><p>0.7～3.3可调节、2.5～5.5可调节</p></td>
              <td>20.0×12.0×13.0</td>
              <td><p>DIP，小封装，高效率；非隔离</p></td>
              <td>通信</td>
            </tr>
                        <tr>
              <td>CBQ</td>
              <td align="center"><img src="__STATIC__/picture/1467366479.jpg"  height="48" /></td>
              <td>20</td>
              <td>4.5～14</td>
              <td><p>0.6～3.3</p></td>
              <td>25.7×13.8×8.2</td>
              <td><p>DIP，小封装，高效率；非隔离</p></td>
              <td>通信</td>
            </tr>
                      </table>
        </div>
      </div>
      <div style="clear:both;"></div>
    </div>
  </div>
</div>
<!--Entrance End--> 
{/block}

</body>
</html>
