{extend name="public/base"}
{block name="seo"}
<title>{$title|default="标题"}</title>
{/block}

{block name="content"}
<!-- banner开始-->
<div class="application_banner"></div>
<!--BANNER END-->

<!--内容区域 Begin-->
<div class="application_con">
    <div class="app_con">
        <div class="app_cont">
            <div class="app_con_l">
                <div class="app_con_l_top">
                    <div class="navigation">
                        <div class="navigation_t">
                            <h1>设计应用</h1>
                            <ul>
                                <li class="lcon"><a href="yingyong.php?cid=15">设计资料</a></li>
                                <li ><a href="yingyong.php?cid=16">设计工具</a></li>
                                <li ><a href="yingyong.php?cid=17">测试评估</a></li>
                                <li ><a href="yingyong.php?cid=18">常见问题</a></li>
                                <div style="clear:both;"></div>
                            </ul>
                        </div>
                        <div class="navigation_t navigation_t1">
                            <h1>解决方案</h1>
                            <ul>
                                <li ><a href="yingyong.php?cid=19">自动化及仪表</a></li>
                                <li ><a href="yingyong.php?cid=20">轨道交通</a></li>
                                <li ><a href="yingyong.php?cid=21">汽车电子</a></li>
                                <li ><a href="yingyong.php?cid=22">电力行业</a></li>
                                <li ><a href="yingyong.php?cid=23">广电、通信</a></li>
                                <li ><a href="yingyong.php?cid=24">高可靠性领域</a></li>
                                <div style="clear:both;"></div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="app_zl" style="display:none;">
                    <div class="app_conr">
                        <h2>北京正芯源</h2>
                        <p>010-82494690</p>
                        <p>sales@zxypower.com</p>
                        <p>2991639300</p>
                        <p>北京市海淀区显龙山路</p>
                        <p>19号1幢1座429</p>
                    </div>
                </div>
            </div>
            <div class="app_con_r">
                <div class="app_con_rt"><a href="">首页</a>&nbsp;&gt;&nbsp;应用资料&nbsp;&gt;&nbsp;<a href="product.php?cid=6">设计应用</a>&nbsp;&gt;&nbsp;设计资料</div>
                <div class="app_neirong">
                    <div class="app_con_rc">
                        <span class="box1">&nbsp;&nbsp;&nbsp;&nbsp;标题</span><span class="box3">发布时间</span><div style="clear:both;"></div>
                    </div>
                    <div class="app_for">
                        <div class="app_con_rc">
                            <span class="box1"><a href="yingyongshow.php?cid=15&id=131">AN1610 开关电源术语</a></span><span class="box3">2016-06-29</span>
                        </div>
                        <div class="app_con_rc">
                            <span class="box1"><a href="yingyongshow.php?cid=15&id=130">AN1611 开关电源工作原理</a></span><span class="box3">2016-06-29</span>
                        </div>
                        <div class="app_con_rc">
                            <span class="box1"><a href="yingyongshow.php?cid=15&id=129">AN1671 开关电源选型方法</a></span><span class="box3">2016-06-29</span>
                        </div>
                        <div class="app_con_rc">
                            <span class="box1"><a href="yingyongshow.php?cid=15&id=128">AN1673 定制开关电源信息表</a></span><span class="box3">2016-06-29</span>
                        </div>

                    </div>
                </div>

            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>
<!--Entrance End-->
{/block}
</body>
</html>
