
<!--FOOTER BEGIN-->
<div class="footer_box">
    <div class="footer">
        <div class="wrap">
            <div class="img">
                <div class="erwei"></div>
                <p>关注微信服务号了解最新讯息</p>
            </div>
            <div class="db_nav">
                |
                <a target="_blank" href="index.html" tppabs="http://www.zxypower.com/">首页</a> |
                <a target="_blank" href="../index/about.html" tppabs="http://www.zxypower.com/about.php">关于正芯源</a> |
                <a target="_blank" href="product.html" tppabs="http://www.zxypower.com/product.php">产品中心</a> |
                <a target="_blank" href="../yingyong.php.htm" tppabs="http://www.zxypower.com/yingyong.php">应用资料</a> |
                <a target="_blank" href="../news.php.htm" tppabs="http://www.zxypower.com/news.php">新闻动态</a> |
                <a target="_blank" href="../contact.php.htm" tppabs="http://www.zxypower.com/contact.php">联系我们</a> |
                <a target="_blank" href="../index/prosearch.html" tppabs="http://www.zxypower.com/prosearch.php">产品选型</a>|
            </div>
            <div class="xinxi clearfix">
                <div class="links">服务电话：010-62462515-805/806 <br />
                    服务电话：010-82494690-805/806 <br />
                    QQ：2991639300          </div>
                <div class="address">E-mail：sales@zxypower.com
                    <br />
                    公司地址：北京市海淀区显龙山路19号1幢1座429          </div>
            </div>

        </div>

    </div>
    <div class="support clearfix">
        <div class="wrap">
            <p class="l">
                版权所有 Copyright(C)2016-2018 北京正芯源科技发展有限责任公司 &nbsp;&nbsp;京ICP备16028474号
            </p>
            <p class="r">技术支持：众领联合</p>
        </div>
    </div>
</div>
<script type="text/javascript" src="__STATIC__/js/app.js"></script>

<script type="text/javascript" src="__STATIC__/js/js.js"></script>

<!--<div class="right_fixed">-->

    <!--<ul>-->
        <!--<li class="icon_tel pngFix">-->
            <!--<a href="javascript:void(0)">-->
                <!--<div class="left_icon left">-->
                    <!--<i class="pngFix"></i>-->
                    <!--<span>联系电话</span>-->
                <!--</div>-->
                <!--<p>010-62462515-805/806<br />010-82494690-805/806</p>-->
            <!--</a>-->
        <!--</li>-->
        <!--<li class="icon_hd pngFix">-->
            <!--<a href="http://wpa.qq.com/msgrd?v=3&uin=2991639300&site=qq&menu=yes" target="_blank">-->
                <!--<div class="left_icon left">-->
                    <!--<i class="pngFix"></i>-->
                    <!--<span>QQ咨询</span>-->
                <!--</div>-->
            <!--</a>-->
        <!--</li>-->
        <!--<li class="icon_wx pngFix">-->
            <!--<a href="javascript:void(0)">-->
                <!--<div class="left_icon left">-->
                    <!--<i class="pngFix"></i>-->
                    <!--<span>微信扫一扫</span>-->
                <!--</div>-->
            <!--</a>-->
            <!--<div class="wx">-->
                <!--<img src="images/qrcode.jpg" />-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="icon_po pngFix">-->
            <!--<a href="contact.php" target="_blank">-->
                <!--<div class="left_icon left">-->
                    <!--<i class="pngFix"></i>-->
                    <!--<span>联系我们</span>-->
                <!--</div>-->
            <!--</a>-->
        <!--</li>-->
    <!--</ul>-->

<!--</div>-->