
<!-- header -->
<div class="header">
    <div class="head clearfix wrap">
        <h1>
            <a href="javascript:;" title="正芯源">
                <img src="__STATIC__/picture/logo.jpg"  height="70" width="210" alt="" />
            </a>
        </h1>
        <ul class="nav">
            <li><a href="index.html"  class="current_bj">首页</a></li>
            <li><a href="{:url('index/about')}" >关于正芯源</a></li>
            <li><a href="{:url('index/product')}" >产品中心</a></li>
            <li><a href="{:url('index/application')}">应用资料</a></li>
            <li><a href="{:url('index/news')}" >新闻动态</a></li>
            <li><a href="{:url('index/contact')}" >联系我们</a></li>
        </ul>
    </div>
    <div class="line"></div>
</div><!-- header结束 -->
